.row-header {
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    background-color: rgb(235,222, 152);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: rgb(26, 12, 107);
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color: rgb(235, 222, 152);
    color:rgb(26, 12, 107);
    
}
h1 {
    text-shadow: 5px 5px rgb(240,198,164);
    color:rgb(26, 12, 107);
    font-size: 3.5em;
}
.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}